@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

body {
  background-color: #F2EEBF;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.6;
  color: #5C4B51;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #5C4B51;
  margin-bottom: 0.5em;
}
